*{
   box-sizing: border-box;
   padding: 0%;
   margin: 0%;
   font-family: barlow,Arial,sans-serif;
}
body{
   overflow-x: hidden;
}
header{
   color: #fff;
   position: absolute;
   top: 0%;
   width: 100%;
}

#ul1{
  display: flex;
  list-style: none;
  /* border: 2px solid red; */
  /* float: right; */
  width: 60%;
  justify-content: space-between;
  /* padding-top: 10px; */
  align-items: center;
  margin-left:540px;
  /* padding-top: 10px; */
}
#nav1{
   color: #fff;
   background: #141d29;
   text-shadow: none;
   height: 3.7rem;
   width: 100% !important;
}
.span2{
   color: #e68250;
   padding-left: 10px;
}
.span2:hover{
   color: #fff;
}
.span1{
   color: #fff !important;
   font-weight: 500;
   font-size: 1rem;
}
.span1:hover{
   cursor: pointer;
}
.icon{
   width: 10px;
    height: 10px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.btn{
   color: #fff;
   background:#141d29;
   font-size: 15px;
   border-style: none;
   /* padding-top: 20px; */
}
.btn:hover{
   cursor: pointer;
}
.btn1{
   font-size: 25px;
   background-color: #112753;
   height: 57px;
   width: 60px;
   margin-top: 0%;
}
.btn3{
   position: absolute;
    top: 0%;
    /* right: 1.8rem; */

    width: 70px;
    height: 57px;
   /* border: 2px solid  #112753; */
    background-color: #112753;
}
#div1{
   background:#3d3e3e ;
   /* font-size: 3rem;
    position: absolute;
    z-index: 102;
    top: 5.5rem;
    left: 0; */
    /* visibility: hidden; */
    /* overflow: hidden; */
     width: 100%;
    transition: all .1s ease-out;
    text-align: left;
    opacity: 0;
    color: #fff;
} 
.p{
   color: #fff;
   background: #3d3e3e;
}
strong{
   color: #7fb8e7;
   font-weight: 400;
}
.login{
   color: #fff !important;
   text-decoration: none;
}
.login1{
   padding-left: 40px;
}
.vc{
   /* position: absolute;
   top: 10px; */
   position: relative;
    z-index: auto;
    top: 100px;
    left: 0;
    width: 100%;
    height: 70%;
    
}
video{
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   width: 100%;
   height: 900px;
   object-fit: cover;
   
}
.nav2{
   color: #fff;
    background: #252f3b;
    text-shadow: none;
}
.img1{
   height: 45px;
   /* width: 150px; */
   /* border: 2px solid red; */
   font-size: 10px !important;
   display: flex;
   align-items: center;
  
}
.nav2{
   /* border: 2px solid rgb(115, 0, 255); */
   height: 80px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.nav3{
   /* border: 2px solid rgb(0, 255, 72); */
   height: 80px;
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 50px;
   
}
.ul2{
   /* border: 2px solid rgb(0, 255, 89); */
   display: flex;
   flex-direction: row;
   list-style: none;
   font-weight: 600;
   font-size: 14px;
   align-items: center;
   justify-content: space-between;
   width: 70%;
   float: right;
}
.ul3{
   /* border: 2px solid rgb(255, 132, 0); */
   display: flex;
   flex-direction: row;
   list-style: none;
   font-weight: 600;
   font-size: 14px;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   float: right;
}
.p2{
   font-size: 50px;
   font-weight: 100;
}
.p1{
   font-size: 75px;
   /* display: flex;
   justify-content: center;
   align-items: center; */
}
.div2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-weight: normal;
   font-family: barlow;
   margin-top: 270px;
}
.div3{
   /* background: #252f3b; */
   background: rgb(23, 23, 23);
   text-shadow: none;
   height: 50px;
   position: relative;
   top: 96px;
   /* top: 100%; */
   
}
.form{
   font-family: barlow,Arial,sans-serif;
    font-size: .625em;
    font-size: calc(1em * .625);
    font-weight: 400;
    line-height: 1.6;
    min-height: 100%;
    color: #1b1d27;
    position: absolute;
    top: 0%;
}
.form{
   position: relative;
   top: 80px;
   background-color: #112753;
   height: 240px;
   color: #fff;
}
.search , .search::placeholder{
   height: 55px;
   width: 800px;
   background-color: #333434;
   border-style: none;
   /* text-align: center; */
   color: #fff;
   padding-left: 2%;
   font-size: 18px;
}
.span3{
   color: #fff;
   position: absolute;
left: 40px;
font-size: medium;
font-weight: lighter;
}
label{
   display: flex;
   justify-content: center;
   align-items: center;
}
.form1{
   top: 70px;
   left: 300px;
   position: absolute;
   color: #fff;
}
.icon{
   position: relative;
   fill: #fff;
   color: #112753;
}
.btn2{
   background-color: #214896;
}
.navy{
   background-color: rgba(1, 9, 42, 0.911);
   height: 700px;
   position: relative;
   top: 80px;
   color: #fff;
   font-family: barlow,Arial,sans-serif;
}
.para{
   letter-spacing: 0.3rem;
   color: #fff;
   text-transform: uppercase;
   font-family: barlow,Arial,sans-serif;
   font-size: small;
   padding-top: 40px;
   padding-left: 40px;
}
.icon-svg{
   display: block;
   width: 2rem;
   height: 2rem;
   margin-right: 1.5rem;
   background-color: #fff !important;
   text-transform: uppercase !important;
}
.span4{
   color: #fff;
   /* font: 15px; */
    font-size: 0.8rem;
    /* font-weight: 600; */
    line-height: 2rem;
    letter-spacing: .28rem;
    padding-top: 10px;
}
.c-btn{
   text-decoration: none;
   background-color: #214896;
   display: inline-flex;
   height: 55px;
   width: 340px;
  /* padding-top: 20px; */
  
}
.c-btn1{
   text-decoration: none;
   /* background-color: #214896; */
   display: inline-flex;
   border: 1px solid #214896;
   height: 55px;
   width: 340px;
  margin-top: 20px;
}
.flex{
   display: flex;
   align-items: center;
   width: 80%;
   justify-content: space-around;
   margin-left: 100px;
   margin-top: 100px;
}
pre{
   font-size: 40px;
   line-height: 3rem;
   
}
.div4{
   color: #909294;
}
.span4:hover{
   /* color: #255b8e; */
   background-color: #255b8e;
   /* height: 55px; */
   width: 480px;
   /* padding-top: 10px; */
   /* margin-top: 20px; */
   /* padding-left: 0px; */
}
.div5{
   color: #fff;
    background: #141d29;
    text-shadow: none;
    height: 1200px;
    position: relative;
    top: 80px;
   
}
#p{
   font-size: 0.8rem;
   line-height: 2rem;
   letter-spacing: .28rem;
   padding-top: 55px;
   padding-left: 100px;
}
.image{
   background-image:url("https://www.safran-group.com/sites/default/files/crops/focus_photo_portrait/public/taxonomy_term/246/img/original/SAF2017_0222576.jpg?itok=HBYIzs6x");
   height: 500px;
   /* margin-left: -20px; */
   /* background-repeat: no-repeat; */
   width: 250px;
   /* background-position: cover; */
   /* position: absolute; */
    /* min-height: 20.5rem; */
    /* text-align: center; */
    background-repeat: no-repeat;
    /* background-position: center; */
    /* z-index: 222; */
    /* background-size: cover; */
}
.div6{
    /* border: 2px solid blue; */
    width: 82em;
    height: 36em;
    margin-left: 77px;
    margin-top: 81px;
    color: #fff;
    display: flex;
    flex-direction: row;

}
.svg{
   height: 70px;
   position: absolute;
   /* left: 0px; */left: -60px;
   top: 340px;
}
.h33{
   font-weight: normal;
   position: absolute;
   top: 450px;
   font-size: 27px;
   left: 140px;
}
.svg1{
   height: 70px;
   /* border: 2px solid red; */
   width: 70px;
   /* padding-left: 0px; */
 position: absolute;
 left: 430px;
 top: 340px;
}
.h4{
   left:410px ;
}
.svg2{
   height: 70px;
   /* border: 2px solid red; */
   width: 70px;
   position: absolute;
   left: 680px;
   top: 340px;
}
.h5{
   left: 660px;
}
.h6{
   left:950px ;
}
.svg3{
   position: absolute;
   left:950px ;
   top: 340px;
}
.svg4{
   position: absolute;
   left:1200px ;
   top: 340px;
}
.h7{
   left: 1200px;
}
.img22{
   height: 170px;
   width: 340px;
}
.con{
   display: flex;
   /* flex-direction: column; */
   flex-direction: row;
   justify-content: space-around;
   width: 85%;
   margin-left: 100px;
   margin-top: 60px;
}
.par1{
word-spacing: 10px;
   padding: 30px;
   margin: 10px;
}
.con1{
   /* background-color: black; */
   width: 100%;
    height: 1300px;
    background-color: #070e1d;
   color: #fff;
}
.h11{
   position: relative;
   top: 130px;
   text-align: center;
   font-weight: lighter;
}
.img11{
   height: 300px;
   width: 500px;
}
.innercon{
   display: flex;
   margin-top: 200px;
   width: 80%;
   margin-left: 130px;
   justify-content: space-around;
}
.img222{
   height: 200px;
   width: 360px;
}
.con2{
   background-color: #1b1d27;
   text-align: center;
   width: 330px;
   display: flex;
   /* align-items: center; */
   flex-direction: column;
   padding-top: 60px;
   /* word-spacing: 0.9rem; */
   line-height: 1.6rem;
   height: 250px;
}
.conmain{
   display: flex;
   justify-content: space-around;
   width: 90%;
   /* align-items: center; */
   margin-left: 100px;
   margin-top: 80px;
}
.maincon2{
   background-color: #111827;
   height: 200px;
   color: #fff;
}
.h22{
   font-size: 40px;
   text-align: center;
   font-weight: lighter;
   padding-top: 30px;
}
.anc{
   font-size: 1rem;
    /* line-height: 1.6; */
    /* transition: color .3s; */
    /* -webkit-animation: all .2s; */
    animation: all .2s;
    text-decoration: none;
    color: #fff;
    border: none;
    border: 2px solid #255b8e;
    background-color: #255b8e;
    /* height: 60px !important;
    width: 150px !important; */
    text-align: center;
    margin-left: 600px;
    margin-top: 100px;
}
.dark{
   background-color: #070e1d;
   padding-top: 2rem;
    padding-bottom: 2rem
}
.dd{
   display: flex;
   flex-direction: row;
   background-color: #070e1d;
   color: #fff;
}
.c{
   list-style: none;
   display: flex;
   justify-content: space-around;
   /* border: 2px solid red; */
   width: 300px;
   font-size: 20px;
}
.icon111{
   font-size: 30px !important;
}
.h{
   height: 360px;
   width: 100%;
}
.foot{
   background-color: black;
   height: 300px;
   color: white;
}
.p{
   display: flex;
   flex-direction: row;
   background-color: black;
   font-size: 15px;
   justify-content: space-around;
   padding-top: 80px;
}
















